.rotating_square{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-in-out, border-radius 1.5s;
}

div.rotating_square:hover{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    border-radius: 50%;
    transform: rotate(2turn);
}

div:nth-of-type(2){
    width: 100px;
    height: 100px;
    background-color: magenta;
    transition: transform 1s ease-in-out;   
    
    
}

div:nth-of-type(2):hover{
    transform: translate(20px, -40px) skew(-20deg);
}